<turbo-frame id="add-auction">
    <form method="post" action="/add" data-turbo-frame="auction-list">
        <fieldset>
            <legend>Add a new auction</legend>
            <label for="new-item">Asset name</label>
            <input type="text" id="new-item" name="new-item" />
            <input type="submit" value="Add">
        </fieldset>
    </form>
</turbo-frame>
