<html lang="en">
{{ template "header.partial.gohtml"}}
<body>
<h1>Edit a Todo</h1>
<turbo-frame id="edit-todo-{{.ID}}">
<form method="post" action="/edit/{{.ID}}" data-turbo-frame="todo-list">
    <fieldset>
        <legend>Edit {{.Name}}</legend>
        <label for="updated-name">Task name</label>
        <input type="text" id="updated-name" name="updated-name" value="{{.Name}}" />
        <input type="submit" value="Update">
    </fieldset>
</form>
</turbo-frame>
</body>
</html>
