<html lang="en">
{{ template "header.partial.gohtml"}}
<body>
<h1>Edit an auction</h1>
<turbo-frame id="edit-auction-{{.ID}}">
<form method="post" action="/edit/{{.ID}}" data-turbo-frame="auction-list">
    <fieldset>
        <legend>Edit {{.AssetName}}</legend>
        <label>Asset name <input type="text" id="updated-name" name="updated-name" value="{{.AssetName}}" /></label>
        <label>Seller <input type="text" id="updated-seller" name="updated-seller" value="{{.Seller}}" /></label>
        <label>Bidder <input type="text" id="updated-bidder" name="updated-bidder" value="{{.Bidder}}" /></label>
        <label>Intel URL <input type="text" id="updated-url" name="updated-url" value="{{.IntelUrl}}" /></label>
        <input type="submit" value="Update">
    </fieldset>
</form>
</turbo-frame>
</body>
</html>
