<html lang="en">
{{template "header.partial.gohtml"}}
<body>
<nav>
    <a href="/add">Add</a>
</nav>
<turbo-frame id="add-auction" src="/add">
{{template "add.partial.gohtml"}}
</turbo-frame>

<h1>Auctions list</h1>
{{template "auctions.partial.gohtml" .}}
<turbo-frame id="toaster"></turbo-frame>
</body>
</html>
