<turbo-frame id="todo-list">
  <ol>
      {{range .}}
        <li>
            {{.Name}}
          <form method="post" action="/delete">
            <input type="hidden" name="id" value="{{.ID}}" />
            <input type="submit" value="Delete" />
          </form>
          <turbo-frame id="edit-todo-{{.ID}}">
            <a href="/edit/{{.ID}}">Edit</a>
          </turbo-frame>
        </li>
      {{end}}
  </ol>
</turbo-frame>