<html lang="en">
{{template "header.partial.gohtml"}}
<body>
<nav>
    <a href="/add">Add</a>
</nav>
<h1>Todo list</h1>
<turbo-frame id="add-todo" src="/add">
{{template "add.partial.gohtml"}}
</turbo-frame>

<h2>Your to do list</h2>
<turbo-frame id="todo-list">
    <ol>
        {{range .}}
            <li>
                {{.Name}}
                <form method="post" action="/delete">
                    <input type="hidden" name="id" value="{{.ID}}" />
                    <input type="submit" value="Delete" />
                </form>
                <a href="/edit/{{.ID}}" data-turbo-frame="_top">Edit</a>
            </li>
        {{end}}
    </ol>
</turbo-frame>
</body>
</html>