<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TODO</title>
</head>
<body>
<nav>
    <a href="/add">Add</a>
</nav>
<h1>Todo list</h1>
<h2>Your to do list</h2>
    <ol>
        {{range .}}
            <li>
                {{.Name}}
                <form method="post" action="/delete">
                    <input type="hidden" name="id" value="{{.ID}}" />
                    <input type="submit" value="Delete" />
                </form>
            </li>
        {{end}}
    </ol>
</body>
</html>